<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit | Admin Blog</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
</head>

<body style="background: lightgray">

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <% if (messages.error) { %>
                    <div class="alert alert-danger" role="alert"><%- messages.error %></div>
                <% } %>
                <div class="card border-0 shadow rounded">
                    <div class="card-body m-4">
                        <form action="/posts/update/<%= id %>" method="post"> 
                            <div class="form-group"> 
                                <label>Title</label>
                                <input type="text" class="form-control" name="title" value="<%= title %>" placeholder="Masukkan Title Post">
                            </div>
                            <div class="form-group mt-4">
                                <label>Slug</label>
                                <input type="text" class="form-control" name="slug" value="<%= slug %>" placeholder="Masukkan Title Post Dengan huruf kecil dan tanda ( - ) ex judul-post-pertama">
                            </div>
                            <div class="form-group mt-4">
                                <label>Konten</label>
                                <textarea class="form-control" name="content" rows="4" placeholder="Masukkan Konten Post"><%= content %></textarea>
                            </div>
                            <div class="row mt-4">
                                <div class="col">
                                    <button type="submit" class="btn btn-primary">UPDATE</button>
                                    <button type="reset" class="btn btn-warning">RESET</button>  
                                </div>
                                <div class="col-auto">  
                                    <a href="/posts" class="btn btn-success" role="button">BACK</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    </script>
</body>
</html>